<template>
  <div class="hello">
    <h1>Smack My Pipes Up!</h1>
    <h4>{{notification}}</h4>
    <input type="text" placeholder="Your name" v-model="name"/>
    <p>Time: <TimeBar ref="TimeBarTime" :defaultIsCountdown="false" @timesUp="timesUp" @tick="tryTick"/></p>
    <div>Points:
      <div>
        <TimeBar class="stuff" ref="TimeBarPoint"/>
        <Multiplier class="stuff" ref="TimeMultiplier"/>
      </div>
    </div>
    <div class="playarea">
      <PlayArea ref="playArea"
                :AreaSize="5"
                :NoRotateCount="1"
                :FixedCount="2"
                :GameEnabled="gameEnabled"
                @solved="solved"
                @gameEnded="gameEnded"
                @clickSpace="onClickSpace"/>
      <StartButton ref="StartButton" @click.native="start"/>
      <WinButton ref="WinButton" @click.native="start"/>
    </div>
    <HighScore ref="HighScore"/>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import PlayArea from "./PlayArea.vue";
import TimeBar from "./TimeBar.vue";
import StartButton from "./StartButton.vue";
import HighScore from "./HighScore.vue";
import Multiplier from "./Multiplier.vue";
import WinButton from "./WinButton.vue";

@Component({
  components: {
    PlayArea,
    TimeBar,
    StartButton,
    HighScore,
    Multiplier,
    WinButton
  }
})
export default class HelloWorld extends Vue {
  private startButton!: StartButton;
  private playArea!: PlayArea;
  private timeBarTime!: TimeBar;
  private timeBarPoint!: TimeBar;
  private highScore!: HighScore;
  private multiplier!: Multiplier;
  private winButton!: WinButton;
  private notification = "Get ready!";
  private gameStarted = false;
  private gameEnabled = false;
  private name = "";

  mounted() {
    this.startButton = this.$refs.StartButton as StartButton;
    this.playArea = this.$refs.playArea as PlayArea;
    this.timeBarTime = this.$refs.TimeBarTime as TimeBar;
    this.timeBarPoint = this.$refs.TimeBarPoint as TimeBar;
    this.highScore = this.$refs.HighScore as HighScore;
    this.multiplier = this.$refs.TimeMultiplier as Multiplier;
    this.winButton = this.$refs.WinButton as WinButton;

    this.multiplier.value = this.playArea.calcMultiplier();

    window.addEventListener("keypress", event => {
      if (event.keyCode === 32 || event.key === " ") {
        event.preventDefault();
        this.onClickSpace();
      }
    });
  }

  tryTick()
  {
    if (this.gameStarted)
      this.playArea.doTick();
  }

  timesUp(){
    this.timeBarPoint.maxTime = 0;
    this.timeBarPoint.timeElapsed = 0;
    
    this.winButton.show();
    this.winButton.message = "YOU LOST!!!";
  }

  CalcScore(): number
  {
    return (this.timeBarPoint.maxTime - this.timeBarPoint.timeElapsed) * this.playArea.calcMultiplier();
  }

  solved(){
    this.timeBarTime.stop();
    this.timeBarPoint.stop();
    this.gameEnabled = false;

    if (this.CalcScore() > 0){
        this.winButton.show();
        this.winButton.message = "YOU WON! Score: " + this.CalcScore().toString();
        this.highScore.UploadScore(this.name, this.CalcScore().toString(), () => {
        this.highScore.GetScores();
      });
    }
  }

  gameEnded(){
    // this.reset();
    this.gameEnabled = false;
  }

  reset(){
    this.startButton.show();
    this.playArea.seed();
    this.multiplier.value = this.playArea.calcMultiplier();
    this.timeBarTime.reset();
    this.timeBarPoint.reset();
    this.gameStarted = false;
    this.winButton.hide();
  }

  start() {
    if (this.name === ""){
      alert("Remember to add your name!");
      return;
    }

    this.winButton.hide();
    this.startButton.hide();
    this.playArea.doReveal();
    this.timeBarTime.start();
    this.timeBarPoint.start();

    this.notification = "Press space or touch the tiles to begin!";
  }

  onClickSpace() {
    if (this.startButton.isHidden == false)
      this.start();
    else if (this.gameStarted == false){
      this.timeBarTime.stop();
      this.timeBarPoint.stop();
      this.timeBarTime.isCountdown = true;
      this.timeBarTime.color = "#e74c3c";
      this.timeBarTime.maxTime = this.timeBarTime.timeElapsed;
      this.timeBarTime.timeElapsed = 0;
      this.timeBarTime.start();
      this.notification = "GO GO GO!!!"

      this.gameStarted = true;
      this.gameEnabled = true;
    }
    else{
      this.reset();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.playarea {
  position: relative;
  margin: 0 auto;
}
.stuff {
  display: inline-block;
  padding: 5px;
}
</style>
