<template>
    <div class="scores">
        <h1>HIGH SCORES!</h1>
        <div class="score" v-for="score in scores" :key="score.null">
            <h3>{{score.Name}}</h3>
            <h3>{{score.Score}}</h3>
        </div>
    </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { callbackify } from "util";

var Airtable = require("airtable");
var base = new Airtable({ apiKey: "keyoSzM9iw2dsuG3y" }).base(
  "appfh9U2F956Yor0z"
);

@Component
export default class HighScore extends Vue {
  public scores: any[] = [];

  mounted() {
    this.GetScores();
  }

  GetScores() {
    var self = this;
    var _scores: any[] = [];

    base("Table 1")
      .select({
        maxRecords: 100,
        sort: [{ field: "Score", direction: "desc" }]
      })
      .eachPage(
        function page(records: any, fetchNextPage: any) {
          records.forEach(function(record: any) {
            _scores.push({
              Name: record.get("Name"),
              Score: record.get("Score")
            });
          });

          fetchNextPage();
        },
        function done(err: any) {
          if (err) {
            console.error(err);
            return;
          }
          self.scores = _scores;
        }
      );
  }

  public UploadScore(name: string, score: string, callback: Function) {
    base("Table 1").create(
      {
        Name: name.trim().toLowerCase(),
        Score: score
      },
      function(err: any, record: any) {
        if (err) {
          console.error(err);
          return;
        }

        callback();
      }
    );
  }
}
</script>

<style lang="scss" scoped>
.scores {
  margin: 0 auto;
  background-color: #2c3e50;
  min-height: 300px;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  &.isHidden {
    display: none;
  }
}
.score {
  margin: 0 auto;
  display: table;
}
h1 {
  color: white;
}
h3 {
  display: table-cell;
  padding: 0 10px;
  color: white;
}
</style>
