<template>
    <div>
        <div class="bar">
            <h1>X{{ value }}</h1>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Multiplier extends Vue {
  public value: number = 1;
}
</script>

<style lang="scss" scoped>
.bar {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-color: #d3a715;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.bar h1 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  margin: 0;
  color: #fcfcfc;
}
.bar-value {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2ecc71;
}
</style>
