<template>
    <div style="display: inline-block"
         @mousedown="doMouseDown($event)"
         @mouseup="doMouseUp($event)"
         @mousemove="doMouseMove($event)"
         @mouseleave="doMouseOut($event)">

        <div class="playarea" style="display: grid">
            <Tile2 v-bind:key="item.ID" style="user-select: none"
                ref="tiles"
                v-for="item in Tiles"
                :Tag="item.ID"
                
                v-bind:style="{ 'position' : item.isDragging ? 'relative' : '', 'z-index' : item.isDragging ? 10: '', 'left': item.positionX+'px', 'top': item.positionY+'px', 'grid-row' : item.Y, 'grid-column' : item.X }"
                :mode="item.Mode"
                :direction="item.Direction"/>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Tile from "./Tile.vue";

@Component({})
export class Tile2 extends Tile {
    @Prop() public Tag!: string;
}

class TileInfo {
    @Prop() public X!: number;
    @Prop() public Y!: number;

    @Prop() public Mode!: string;
    @Prop() public Direction!: string;

    private static idCounter: number = 1;
    private id!: number;
    @Prop() public get ID() : string
    {
        return "tile" + this.id.toString();
    }

    @Prop() public isDragging: boolean = false;
    @Prop() public positionX: number = 0;
    @Prop() public positionY: number = 0;

    GetTile(area: PlayArea): Tile | any
    {
        var components = area.$refs["tiles"] as any[];
        for (var idx in components)
        {
            var cmp = components[idx] as any;
            if (cmp.Tag == this.ID)
            {
                return cmp as Tile;
            }
        }
        return undefined;
    }

    GetMouseOffset(area: PlayArea, x: number, y: number): [number, number]
    {
        var el = this.GetTile(area).$el as Element;
        var r = el.getBoundingClientRect();

        return [x-r.left, y-r.top];
    }

    IsMouseOver(area: PlayArea, x: number, y: number): boolean
    {
        var el = this.GetTile(area).$el as Element;
        var r = el.getBoundingClientRect();

        return ((r.top <= y) && (r.bottom >= y) &&
                (r.left <= x) && (r.right >= x));
    }

    rotate(area: PlayArea)
    {
        var starts = ["n","e","s","w"];
        var idx = (starts.indexOf(this.Direction[0])+1) % 4;
        this.Direction = starts[idx] + this.Direction[1];

        (this.GetTile(area) as Tile).rotate();
    }

    public CanDrag(): boolean
    {
        switch(this.Mode)
        {
            case "start":
            case "stop":
            case "fixed": return false;
        }
        return true;
    }

    public CanRotate(): boolean
    {
        switch(this.Mode)
        {
            case "start":
            case "stop":
            case "no-rotate": return false;
        }
        return true;
    }

    constructor(x: number, y: number, direction: string, mode: string)
    {
        this.id = TileInfo.idCounter++;

        this.X = x;
        this.Y = y;

        this.Mode = mode;
        this.Direction = direction;
    }
}

function URand(h: number, l: number = 0): number
{
    return Math.floor(Math.random()*(h-l)) + l;
}

@Component({
  components: {
    Tile,
    Tile2
  }
})
export default class PlayArea extends Vue {
    @Prop() public AreaSize!: number;
    @Prop() public FixedCount!: number;
    @Prop() public NoRotateCount!: number;
    
    @Prop() public GameEnabled!: boolean;

    @Prop() public clickSpace!: Function;
    @Prop() public solved!: Function;
    @Prop() public gameEnded!: Function;

    @Prop() public GameMode!: string; // present

    public yOffset: number = 1;

    public get TileInfos() : TileInfo[] {
        return this.Tiles;
    }

    public Tiles: TileInfo[] = new Array(0);

    doRotate(event: TileInfo)
    {
        event.rotate(this);
    }

    isDown: boolean = false;
    isDragging: boolean = false;
    dragged!: TileInfo | null;
    
    dragStart!: [number, number];
    dragOffset!: [number, number];

    getDir(tile: TileInfo): [number,number]
    {
        var pt: [number,number] = [0, 0];

        switch(tile.Direction[0])
        {
            case "n": pt = [0,1]; break;
            case "s": pt = [0,-1]; break;
            case "e": pt = [-1,0]; break;
            case "w": pt = [1,0]; break;
        }

        switch(tile.Direction[1])
        {
            case "l": pt = [pt[1], -pt[0]]; break;
            case "r": pt = [pt[1], -pt[0]]; pt = [pt[1], -pt[0]]; pt = [pt[1], -pt[0]]; break;
        }

        return pt;
    }

    GetActualDir(tile: TileInfo): string
    {
        switch(tile.Direction[0])
        {
            case "n": return tile.Direction[1] == "l" ? "w" : tile.Direction[1] == "r" ? "e" : "n";
            case "e": return tile.Direction[1] == "l" ? "n" : tile.Direction[1] == "r" ? "s" : "e";
            case "s": return tile.Direction[1] == "l" ? "e" : tile.Direction[1] == "r" ? "w" : "s";
            case "w": return tile.Direction[1] == "l" ? "s" : tile.Direction[1] == "r" ? "n" : "w";
        }
        return tile.Direction[0];
    }

    checkSolution(): TileInfo[] | undefined
    {
        var start = this.Tiles.filter(t => t.Mode == "start")[0];
        var stop  = this.Tiles.filter(t => t.Mode == "stop")[0];

        var currTile = start;

        var result = new Array(start);
        
        var timeout = 100;
        
        while (currTile != stop)
        {
            if (timeout-- < 1) return;
            var dir = this.getDir(currTile);
            var next = [currTile.X+dir[0], currTile.Y+dir[1]];

            var nextTile = this.Tiles.filter(t => (t.X == next[0]) && (t.Y == next[1]))[0];

            if (nextTile == undefined) return;
            
            if (nextTile.Direction[0] != this.GetActualDir(currTile)) return;

            result = result.concat(nextTile);

            currTile = nextTile;
        }

        return result;
    }

    finish()
    {
        this.$emit("solved");

        var row = this.checkSolution();

        var idx = 1;
        var f = () => {};
        if (row != undefined)
        {
            f = () =>
            {
                if (row != undefined)
                {
                    if (row.length > idx)
                        row[idx++].GetTile(this).animate(f);
                    else
                        this.$emit("gameEnded");
                }
            }

            row[0].GetTile(this).animate(f);
        }
    }

    getNonDraggedTile(event: any): TileInfo | null
    {
        for(var i=0; i<this.TileInfos.length; i++)
            if (!this.TileInfos[i].isDragging &&  this.TileInfos[i].IsMouseOver(this, event.clientX, event.clientY))
            {
                return this.TileInfos[i];
            }
        return null;
    }

    doMouseDown(event: any)
    {
        if (!this.GameEnabled)
            this.$emit("clickSpace");

        var d = this.getNonDraggedTile(event);

        this.dragged = d;
        
        if (this.dragged != null)
        {
            this.dragStart = [event.clientX, event.clientY];
            this.dragOffset = this.dragged.GetMouseOffset(this, event.clientX, event.clientY);
            this.isDragging = false;
            this.isDown = true;
        }
    }

    doMouseMove(event: any)
    {
        if (!this.GameEnabled) return;
        if (!this.isDown) return;

        if (!this.isDragging)
        {
            if (this.dragged != null)
                if (this.dragged.CanDrag())
                    this.isDragging = (((event.clientX-this.dragStart[0])**2)+((event.clientY-this.dragStart[1])**2)) > 3**2;
        }

        if (this.isDragging && this.dragged != null)
        {
            this.dragged.isDragging = true;

            this.dragged.positionX = event.clientX - this.dragStart[0];
            this.dragged.positionY = event.clientY - this.dragStart[1];
        }
    }

    drop(source: TileInfo, target: TileInfo)
    {
        var src = [source.X, source.Y];
        
        source.X = target.X;
        source.Y = target.Y;

        target.X = src[0];
        target.Y = src[1];

        (source.GetTile(this) as Tile).bounce();
        (target.GetTile(this) as Tile).bounce();

        this.doPop();
    }

    doMouseUp(event: any)
    {
        if (!this.GameEnabled) return;
        
        if (this.isDragging)
        {
            this.isDragging = false;
            this.isDown = false;
            var target = this.getNonDraggedTile(event);
            if (this.dragged != null)
            {
                if (target != null)
                {
                    if (target.CanDrag())
                    {
                        this.drop(this.dragged, target);
                        if (this.checkSolution() != undefined)
                            this.finish();
                    }
                }
                this.dragged.isDragging = false;
            }
        }
        else
        {
            this.isDragging = false;
            this.isDown = false;
            if (this.dragged != null && this.dragged.CanRotate())
            {
                this.dragged.rotate(this);
                this.doRot();
            }
            
            if (this.checkSolution() != undefined)
                this.finish();
        }
    }

    doMouseOut(event: any)
    {
        if (this.isDragging && this.dragged != null)
            this.dragged.isDragging = false;
        
        this.isDragging = false;
        this.isDown = false;
    }

    doReveal()
    {
        this.TileInfos.forEach(t => t.GetTile(this).reveal());
    }

    public calcMultiplier(): number
    {
        return this.yOffset;
    }

    public seed()
    {
        var starts = ["n","e","s","w"];
        var directions = ["l","f","r"];

        this.Tiles = new Array(0);
        for (var i=1; i<this.AreaSize+1; i++)
            for (var i2=1; i2<this.AreaSize+1; i2++)
            {
                if ((i == i2) && (i == Math.round(this.AreaSize/2)))
                    continue; // Ignore one

                this.Tiles = this.Tiles.concat(new TileInfo(i+1,i2+1,
                                               starts[URand(4)]+directions[URand(3)],
                                               ""
                                               //["","fixed","no-rotate"][URand(3)]
                                               ));
            }

        for (var i=0; i<this.FixedCount; i++) this.Tiles[URand(this.Tiles.length)].Mode = "fixed";
        for (var i=0; i<this.NoRotateCount; i++) this.Tiles[URand(this.Tiles.length)].Mode = "no-rotate";

        var sy = URand(this.AreaSize)+2;
        var ey = URand(this.AreaSize)+2;

        this.Tiles = this.Tiles.concat(new TileInfo(1              ,sy,"wf","start"));
        this.Tiles = this.Tiles.concat(new TileInfo(this.AreaSize+2,ey,"wf","stop"));

        this.yOffset = Math.round(Math.sqrt((this.AreaSize/2)**2+(Math.abs(sy-ey)+1)**2));
    }

    public doPop()
    {
        if (this.pop != undefined)
            this.pop.play();
    }

    public doRot()
    {
        if (this.rot != undefined)
            this.rot.play();
    }

    public doTick()
    {
        if (this.tick != undefined)
            this.tick.play();
    }

    public rot!: any;
    public pop!: any;
    public tick!: any;

    mounted(){
        this.rot  = new Audio("./rot.wav");
        this.pop  = new Audio("./pop.wav");
        this.tick = new Audio("./tick.wav");

        this.Tiles = new Array(0);
        this.seed();
    }
}
</script>

<style lang="scss">
    .playarea{
        grid-gap: 2px
    }
</style>
