<template>
    <div class="wrapper" :class="isHidden ? 'isHidden' : ''">
        <div class="start">
            <h1>Start</h1>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class StartButton extends Vue {
  public isHidden = false;

  public hide() {
    this.isHidden = true;
  }
  public show(){
      this.isHidden = false;
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  &.isHidden {
    display: none;
  }
}
.start {
  width: 300px;
  height: 150px;
  background-color: orange;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition-duration: 200ms;
  &:hover {
    transform: scale(0.95);
  }
  &:active {
    transform: scale(0.9);
  }
}
h1 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #34495e;
}
</style>
