<template>
    <div>
        <div ref="tile" class="tile" :style="{transform: 'rotate(' + rotation + 'deg) ' + 'scale(' + (isBounce ? '0.9' : '1') + ')'}">
            <svg ref="svg">
            </svg>
            <svg ref="svg-background" class="svg-background">
            </svg>
            <div class="curtain" v-bind:class="isHidden ? 'hidden': ''"></div>
            <div class="no-rotate" v-if="mode == 'fixed'"></div>
            <div class="fixed" v-if="mode == 'no-rotate'"></div>
            <div class="indicator" :style="{transform: 'rotate(' + inputDirection + 'deg)'}"></div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Transform } from 'stream';
const snap = require(`imports-loader?this=>window,fix=>module.exports=0!snapsvg/dist/snap.svg.js`);

@Component
export default class Tile extends Vue {
    @Prop() public direction!: string;
    @Prop() public mode!: string;
    @Prop({default: 500}) public duration!: number;

    public rotation = 0;
    private animationDuration = 200;
    private turnPath = "M -20 54 A 50 50 1 0 1 50 100";
    private straightPath = "M -20 50 100 50";
    private path = "";
    private transformRotate = "0";
    private translateX = 0;
    private translateY = 0;
    private mirror = false;
    private isHidden = true;
    private svg: any;
    private svgBackground: any;
    private tile: any;
    private isBounce = false;
    private inputDirection = 0;

    mounted(){
        this.svg = this.$refs.svg;
        this.svgBackground = this.$refs["svg-background"];
        this.tile = this.$refs.tile;

        this.initPath();

        var background = this.initSvg(this.svgBackground);
        background.attr({
            stroke:"#2ecc71",
            strokeDashoffset:0
        });
    }

    initPath(){
        this.path = this.direction.endsWith("f") ? this.straightPath : this.turnPath;
                
        switch (this.direction.substring(0, 1)){
            case "n":
                this.inputDirection = 90;
                this.transformRotate = "90";
                break;
            case "e":
                this.inputDirection = 180;
                this.transformRotate = "180";
                break;
            case "s":
                this.inputDirection = -90;
                this.transformRotate = "-90";
                break;
        }

        if (this.direction.endsWith("l")){
            this.mirror = true;
        }
    }

    initSvg(svg: any): any{
        var transformDirection = this.mirror 
        ? "translate(50,50), rotate(" + this.transformRotate + "), scale(1,-1), translate(-50,-50)" 
        : "translate(50,50), rotate(" + this.transformRotate + "), translate(-50,-50)";

        var s = snap(svg);
        var linePath = this.path;
        var lineLength = snap.path.getTotalLength(linePath) + 20;
        var lineDraw = s.path(linePath);
        lineDraw.attr({
            fill:'none',
            transform: transformDirection,
            stroke:'#f39c12',
            'stroke-dasharray': lineLength + ' ' + lineLength,
            'stroke-dashoffset': lineLength,
            'stroke-width' :40,
            'stroke-linecap' :'round',
            'stroke-linejoin' :'round',
            'stroke-miterlimit' :0
        });

        return lineDraw;
    }

    animate(callback: Function) {
        var s = this.initSvg(this.svg);

        s.animate({
            strokeDashoffset : 0
        }, this.duration, snap.mina, callback);
    }

    reset(){
        var s = snap(this.svg);
        s.clear();
        s = snap(this.svgBackground);
        s.clear();
    }

    public rotate(){
        var tile = this.tile;
        this.rotation += 90;
    }

    public reveal(){
        this.isHidden = false;
    }

    public bounce(){
        this.isBounce = true;
        setTimeout(() => {
            this.isBounce = false;
        }, 100);
    }
}
</script>

<style lang="scss">
    .tile{
        height: 100px;
        width: 100px;
        background-color: #bdc3c7;
        border-radius: 10px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        transition-duration: 200ms;
        cursor: pointer;
    }
    svg,
    .svg-background,
    .curtain,
    .fixed,
    .no-rotate,
    .indicator{
        position: absolute;
        top: 0;
        left: 0;
    }
    svg{
        z-index: 2;
    }
    .svg-background{
        z-index: 1;
    }
    .curtain{
        width: 100px;
        height: 100px;
        opacity: 0;
        background-color: #7f8c8d;
        transition-duration: 200ms;
        z-index: 10;
    }
    .curtain.hidden{
        opacity: 1;
    }
    .no-rotate{
        z-index: 0;
        opacity: 0.5;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border: 10px solid red;
        border-radius: 50%;
    }
    .fixed::after{
        opacity: 0.5;
        width: 100px;
        height: 100px;
        font-size: 150px;
        line-height: 110px;
        color: red;
        content: "X";
    }
    .indicator{
        height:100%;
        width: 100%;
        z-index: 5;
    }
    .indicator::after{
        content: "";
        width: 5px;
        height: 0px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #f39c12;
    }
</style>
