<template>
    <div>
        <div class="bar" v-if="isCountdown">
            <h1>{{ maxTime - timeElapsed }}</h1>
            <div class="bar-value" v-bind:style="{right: Math.round(timeElapsed / (maxTime/400)) + 'px', backgroundColor: color}"></div>
        </div>
        <div class="bar" v-if="isCountdown == false">
            <h1>{{ timeElapsed }}</h1>
            <div class="bar-value" v-bind:style="{right: Math.round(400 - (timeElapsed / (maxTime/400))) + 'px', backgroundColor: color.toString()}"></div>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class TimeBar extends Vue {
  @Prop({default: true}) public defaultIsCountdown!: boolean;
  @Prop({default: 100000}) public defaultMaxTime!: number;
  @Prop() public timesUp!: Function;
  @Prop() public tick!: Function;

  public maxTime = 0;
  public timeElapsed = 0;
  public isCountdown = true;
  public color = "#2ecc71";
  private interval: any;
  private lastTick: number = 0;

  mounted() {
      this.reset();
  }

  start() {
    if (this.timeElapsed > 0) return;
    var startTime = new Date().getTime();

    this.interval = setInterval(() => {
      this.timeElapsed = new Date().getTime() - startTime;

      if ((Date.now()-this.lastTick)> 250)
      {
        this.lastTick = Date.now();
        this.$emit("tick");
      }

      if (this.maxTime - this.timeElapsed < 0) {
        this.stop();
        this.timeElapsed = this.maxTime;

        if (this.isCountdown)
            this.$emit("timesUp")
      }
    }, 11);
  }

  stop() {
    clearInterval(this.interval);
  }

  public reset(){
      this.maxTime = this.defaultMaxTime;
      this.isCountdown = this.defaultIsCountdown;
      this.timeElapsed = 0;
      this.lastTick = Date.now();
  }
}
</script>

<style lang="scss" scoped>
.bar {
  width: 400px;
  height: 50px;
  margin: 10px auto;
  background-color: #bdc3c7;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.bar h1 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #34495e;
}
.bar-value {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2ecc71;
}
</style>
