<template>
    <div class="wrapper" :class="isHidden ? 'isHidden' : ''">
        <div class="start">
            <h1>{{message}}</h1>
            <h2>Press space to reset.</h2>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class WinButton extends Vue {
  public message = "";  
  public isHidden = true;

  public hide() {
    this.isHidden = true;
  }
  public show(){
      this.isHidden = false;
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  &.isHidden {
    display: none;
  }
}
.start {
  width: 300px;
  height: 150px;
  background-color: orange;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition-duration: 200ms;
  &:hover {
    transform: scale(0.95);
  }
  &:active {
    transform: scale(0.9);
  }
}
h1 {
  padding-top: 10px;
  color: #34495e;
}
</style>
